@{
    ViewData["Title"] = "Home Page";
}

<div class="hero hero-homepage">
    
    <h1 class="hero-header" style="font-weight:800">relync<span class="badge">BETA</span></h1>
    <h4 class="text-muted">Invite Offers to Rent or Purchase anywhere in Uganda Today </h4>
    Get Started Today with a Request Account<br />
    <a class="btn btn-primary" href="/Account/Register"><b>REGISTER NOW</b></a>  <a class="btn btn-default" asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
   
    @*
    <div class="screenshots screenshots-fan clearfix">



        <a class="screenshot" href="/products/application">
            <img src="//cdn.shopify.com/s/files/1/0691/5403/products/application-screenshot_51b916f0-98cf-495e-be22-e670dcd0711f_1024x1024.jpg?v=1439964115">
        </a>

        <a class="screenshot" href="/products/dashboard">
            <img src="//cdn.shopify.com/s/files/1/0691/5403/products/dashboard-screenshot_1024x1024.jpg?v=1439064271">
        </a>

        <a class="screenshot" href="/products/marketing">
            <img src="//cdn.shopify.com/s/files/1/0691/5403/products/test_1024x1024.jpg?v=1442550945">
        </a>



    </div>*@
    <div class="row row-padded homepage-grid row-bordered p-t text-center" style="margin-top:50px">
        <div class="col-sm-4">
            <img class="homepage-grid-icon" src="//cdn.shopify.com/s/files/1/0691/5403/t/139/assets/components-icon.svg?12817922976150776315">
            <h5><strong>Request</strong></h5>
            <p class="text-muted">A House, Shop or Retail Space to Rent<br />Is it a House or Land you wish to Purchase</p>
        </div>
        <div class="col-sm-4">
            <img class="homepage-grid-icon" src="//cdn.shopify.com/s/files/1/0691/5403/t/139/assets/sliders-icon.svg?12817922976150776315">
            <h5><strong>See your Offers</strong></h5>
            <p class="text-muted">Let our Proffesional Agents and Owners Offer their Properities or Portfolio </p>
        </div>
        <div class="col-sm-4">
            <img class="homepage-grid-icon" src="//cdn.shopify.com/s/files/1/0691/5403/t/139/assets/wrenches-icon.svg?12817922976150776315">
            <h5><strong>Make a Choice</strong></h5>
            <p class="text-muted">Choose from a Wide Range of Offers at your convinience</p>
        </div>
    </div>
</div>


